section {
  width: 50vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  border: 1px solid gainsboro;
}
nav {
  width: 100%;

  background-color: #f1f1f1;
  border-bottom: 1px solid gainsboro;
}
nav > ul {
  width: 100%;
  display: flex;
  align-items: center;
}
nav > ul > li {
  width: 100px;
  padding: 20px 0px;
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
}
